body {
    margin: 0;
    padding: 0;
    background-color: gray;
}


#c {
    display: block;
    /*margin-top: -19px;*/
}



#infobox {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 100;
    width: 200px;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: -3px 3px 10px 0px rgba(48,48,48,0.3);
}

#descrbox {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin-left: -100px;
    width: 170px;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: -3px 3px 10px 0px rgba(48,48,48,0.3);
    opacity: 0;
}

#furnName {
    font-size: 30px;
    text-align: center;
}

#colourBtn1, #colourBtn2 {
    background-color: #e4e4e4; /* Green */
    border: none;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#posbox {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -100px;
    width: 250px;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: -3px 3px 10px 0px rgba(48,48,48,0.3);
    opacity: 0;
}

#container {
    opacity: 0;
    animation: fadein 1s forwards;
    animation-delay: 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}